<header class="txt-clr-white abs top0 left0">{{title}} - home</header>
<div class="ht-8 full-width parent rel boxed hidden" id="homepage">
	<div class="ht-4 rel full-width hidden-sm hidden-xs">
		<div class="ht-4 rel full-width">
			<div class="abs bottom0 ht-4 wd-4 animate20" id="cheekneeblock">
				<img src="img/cartwheel-cheeknee.gif" class="full-width animate20">
			</div>
		</div>	
	</div>
	<div class="hidden-xs hidden-sm full-width ht-1">&nbsp;</div>
	<div class="wcenter cropped-width">
		<div class="full-width row">
			<div class="col-xs-12 rel ht-1 visible-xs visible-sm">
				<div class="full-width animate05 rel" id="mobtitle">
					<h1 class="ft-title txt-clr-red text-right text-uppercase">THE CHEE KNEE</h1>
					<h4 class="ft-content txt-clr-dark text-right">All things starting with C</h4>
				</div>
			</div>
			<div class="col-lg-8 col-sm-12 rel ht-2" ng-include="'templates/nav.html'">
			</div>
			<div class="col-lg-4 hidden-sm hidden-xs rel ht-2">
			 	<div class="abs right0 full-width bottom0 bottom40 hided animate05" id="title">
					<h1 class="ft-title txt-clr-red text-right text-uppercase">THE CHEE KNEE</h1>
					<h4 class="ft-content txt-clr-dark text-right">All things starting with C</h4>
				</div>
			</div>
		</div>
	</div>
</div>