<div class="full-width hidden" id="sitetitle">
	<a ui-sref="home" class="changePage txt-clr-red blk text-uppercase ft-title">The Chee Knee</a>
</div>
<nav class="full-width abs left0 bottom0 bottom40 hided animate05" id="main-nav">
	<div class="pull-left">
	    <ul class="nav nav-pills">
	        <li><a ui-sref="categories" ui-sref-active="active" class="changePage ft-title text-uppercase">categories</a></li>
	        <li><a ui-sref="character" ui-sref-active="active" class="changePage ft-title text-uppercase">character</a></li>
	        <li><a ui-sref="contact" ui-sref-active="active" class="changePage ft-title text-uppercase">contact</a></li>
	    </ul>
	</div>
	<div class="clearfix"></div>
</nav>
<div class="abs left0 mrg-top-4 ht-4 crop hidden hidden-lg hidden-md full-width" id="mini-me">
	<img src="img/me-mweb.png" class="animate05 mrg-top-1 peep">
</div>
