<nav class="full-width abs left0 bottom0 bottom40 hided animate05" id="main-nav">
	<div class="pull-left">
	    <ul class="nav nav-pills">
	        <li><a ui-sref="home" ui-sref-active="active" class="changePage text-uppercase">#</a></li>
	        <li><a ui-sref="categories" ui-sref-active="active" class="changePage text-uppercase">categories</a></li>
	        <li><a ui-sref="character" ui-sref-active="active" class="changePage text-uppercase">character</a></li>
	        <li><a ui-sref="contact" ui-sref-active="active" class="changePage text-uppercase">contact</a></li>
	    </ul>
	</div>
	<div class="clearfix"></div>
</nav>
<div class="visible-xs visible-sm abs left0 mrg-top-5 ht-3 crop full-width" id="mini-me">
	<img src="img/me-mweb.png" class="animate05 mrg-top-1">
</div>